<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.bimils.myapp.board.mapper.BoardEffectMapper">
  	
  	<select id="selectBoardEffectList" resultType="BoardEffect" parameterType="int">
  	
  	SELECT
  		  bo_seq_no
		, effect_class
		, effect_start
		, effect_end
		, effect_del
	FROM
		bm_bo_effect
	WHERE
		bo_seq_no = #{bo_seq_no}
	AND
		effect_del = 'N'
	AND
		SYSDATE BETWEEN effect_start and effect_end
  	  	
  	</select>
  	
  	<insert id="insertBoardEffect" parameterType="BoardEffect">
  	
  	INSERT INTO BM_BO_EFFECT (
	      bo_seq_no
		, effect_class
		, effect_start
		, effect_end
		, effect_del
	) VALUES (
	      #{bo_seq_no}
		, #{effect_class}
		, SYSDATE
		, SYSDATE + 3
		, 'N'
	)
  	
  	
  	</insert>
  	
  	
  	<update id="deleteBoardEffect" parameterType="map">
  		
  	UPDATE bm_bo_effect SET
		effect_del = 'Y'
	WHERE bo_seq_no = #{bo_seq_no}
	AND effect_class = #{effect_class}
  	
  	</update>
  
  </mapper>