<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.bimils.myapp.board.mapper.BoardMapper">
  	
  	<select id="selectBoardCnt" resultType="int" parameterType="map">
  		
  		SELECT  
		count(bo_seq_no) as count
		FROM
		bm_board
		WHERE
		bo_del_yn = 'N'
		<if test="bo_type != null and bo_type != ''">
  		/* paramMap에 의한 제약 조건 (검색) */
  		AND
  		bo_type = #{bo_type}
  		</if>
  		<if test="searchWord != null and searchWord != '' ">
  		<if test="searchType == '01' ">
  		AND
  			bo_title LIKE '%' || #{searchWord} || '%'
  		</if>
  		</if>
  		<if test="isHotboard != null and isHotboard != ''">
  		AND
  			bo_hit_cnt > 10
  		</if>
  	
  	</select>
  	
  	<select id="selectBoardList" resultType="Board" parameterType="map">
  		/* paging */
  	<include refid="CommonMapper.pageHeader"></include>
  	
  	SELECT
  	
  		  a.bo_seq_no
		, a.bo_title
		, a.bo_type
		, a.bo_writer
		, a.bo_writer_open
		, b.mem_name as bo_writer_name
		, a.bo_hit_cnt
		, a.bo_price
		, a.reg_user
		, a.reg_date
		, a.bo_up
		, a.bo_down
		, (a.bo_up - a.bo_down) as bo_up_cnt
		, (SELECT count(c.re_seq_no) 
		     FROM bm_reply c 
		     WHERE a.bo_seq_no = c.ref_seq_no) as replyCnt
		
	FROM
		bm_board a , bm_member b
	WHERE
		a.bo_del_yn = 'N'
	AND
		a.bo_writer = b.mem_id
	<if test="bo_type != null and bo_type != ''">
	AND
		bo_type = #{bo_type}
	</if>
	<if test="searchWord != null and searchWord != '' ">
		<if test="searchType == '01' ">
		AND
			bo_title LIKE '%' || #{searchWord} || '%'
		</if>
	</if>
	<if test="isHotboard != null and isHotboard != ''">
  		AND
  			bo_hit_cnt > 10
  	</if>
		
  	ORDER BY reg_date DESC
  	
  	<include refid="CommonMapper.pageFooter"></include>
  	</select>
  	
  	<select id="selectBoard" resultType="Board" parameterType="int">
  	
  	SELECT
  		  a.bo_seq_no
		, a.bo_title
		, a.bo_type
		, a.bo_writer
		, a.bo_writer_open
		, (SELECT b.mem_name 
		     FROM bm_member b 
		     WHERE a.bo_writer = b.mem_id) as bo_writer_name
		, a.bo_content
		, a.bo_hit_cnt
		, a.bo_price
		, a.reg_user
		, a.reg_date
		, a.bo_up
		, a.bo_down
		, (SELECT count(c.bo_seq_no) 
		     FROM bm_bo_report c 
		     WHERE a.bo_seq_no = c.bo_seq_no) as bo_report
	FROM
		bm_board a
	WHERE
		a.bo_seq_no = #{bo_seq_no}
  	  	
  	</select>
  	
  	<select id="selectHotBoardList" resultType="Board">
  	<include refid="CommonMapper.pageHeader"></include>
  	
  	SELECT
  		  a.bo_seq_no
		, a.bo_title
		, a.bo_type
		, a.bo_hit_cnt
		, (SELECT count(c.re_seq_no) 
		     FROM bm_reply c 
		     WHERE a.bo_seq_no = c.ref_seq_no) as replyCnt
	FROM
		bm_board a
	WHERE a.bo_hit_cnt > 10
	ORDER BY reg_date DESC
	
			    ) TB 
		) WHERE RNUM BETWEEN 1 AND 15
		
  	</select>
  	
  	<insert id="insertBoard" parameterType="Board">

  	<selectKey keyProperty="bo_seq_no" resultType="int" order="BEFORE">
  		SELECT SEQ_BO_SEQ_NO.NEXTVAL FROM DUAL
  	</selectKey>
  	
  	INSERT INTO BM_BOARD (
	    bo_seq_no,
	    bo_title,
	    bo_type,
	    bo_writer,
	    bo_writer_open,
	    bo_content,
	    bo_hit_cnt,
	    bo_price,
	    reg_user,
	    reg_date,
	    upd_user,
	    upd_date,
	    bo_del_yn,
	    bo_up,
	    bo_down
	) VALUES (
	      #{bo_seq_no}
		, #{bo_title}
		, #{bo_type}
		, #{bo_writer}
		, #{bo_writer_open}
		, #{bo_content}
		, 0
		, 50
		, #{bo_writer}
		, SYSDATE
		, #{bo_writer}
		, SYSDATE
		, 'N'
		, 0
		, 0
	)
  	
  	
  	</insert>
  	
  	<update id="updateBoardContent" parameterType="Board">
  		
  	UPDATE bm_board
    SET
		  bo_title = #{bo_title}
		, bo_type = #{bo_type}
		, bo_writer_open = #{bo_writer_open}
		, bo_content = #{bo_content}
		, upd_user = #{bo_writer}
		, upd_date = SYSDATE
	WHERE
        bo_seq_no = #{bo_seq_no}
  	
  	</update>
  	
  	<update id="updateBoardHitCnt" parameterType="int">
  	
  	UPDATE BM_BOARD SET 
		bo_hit_cnt = bo_hit_cnt + 1
		WHERE bo_seq_no = #{bo_seq_no} 
  
    </update>
    
    <select id="selectUpdownSave" parameterType="map" resultType="int">
    
    SELECT count(save_id) as save_cnt
    FROM bm_updown_save
    WHERE save_id = #{save_id}
    AND bo_seq_no = #{bo_seq_no}
    
    </select>
    
    <insert id="updateUpdownSave" parameterType="map">
    
    INSERT INTO bm_updown_save (
		bo_seq_no,    	
    	save_id
    ) VALUES (
    	#{bo_seq_no},
    	#{save_id}
    )
    
    </insert>
    
    <update id="updateBoardUp" parameterType="int">
  	
  	UPDATE BM_BOARD SET 
		bo_up = bo_up + 1 ,
		bo_price = bo_price + floor((bo_up - bo_down) / 10)
		WHERE bo_seq_no = #{bo_seq_no} 
  
    </update>
    
    <update id="updateBoardDown" parameterType="int">
  	
  	UPDATE BM_BOARD SET 
		bo_down = bo_down + 1 ,
		bo_price = bo_price + floor((bo_up - bo_down) / 10)
		WHERE bo_seq_no = #{bo_seq_no} 
  
    </update>
  	
  	
  	<update id="deleteBoard" parameterType="map">
  		
  	UPDATE bm_board SET
		bo_del_yn = 'Y',
		upd_user = #{upd_user},
	  	upd_date = SYSDATE
	WHERE bo_seq_no = #{bo_seq_no} 
  	
  	</update>
  
  </mapper>