<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.bimils.myapp.member.mapper.MemberMapper">
  	
  	<select id="selectMemberCnt" resultType="int" parameterType="map">
  		
  		SELECT  
		count(*) as count
		FROM
		bm_member
		WHERE
		mem_del_yn = 'N'
  		/* paramMap에 의한 제약 조건 (검색) */
  	<if test=" searchWord != null and searchWord != '' ">
		<if test=" searchType == 'id' ">
			AND mem_id = #{searchWord}
		</if>
		<if test=" searchType == 'email' ">
			AND mem_email LIKE '%' || #{searchWord} || '%'
		</if>
		<if test=" searchType == 'name' ">
			AND mem_name = #{searchWord}
		</if>
	</if>
  	</select>
  	
  	<select id="selectMemberList" resultType="Member" parameterType="map">
  		/* paging */
  	<include refid="CommonMapper.pageHeader"></include>
  	SELECT
  		mem_id,
		mem_name,
		mem_email,
		mem_point_cash,
		mem_point,
		mem_ticket,
		mem_del_yn,
		reg_user,
		reg_date,
		upd_user,
		upd_date,
		ticket_date,
		mem_pwd,
		mem_re_cash
	FROM
		bm_member
	WHERE
		mem_del_yn = 'N'
	<if test=" searchWord != null and searchWord != '' ">
		<if test=" searchType == 'id' ">
			AND mem_id = #{searchWord}
		</if>
		<if test=" searchType == 'email' ">
			AND mem_email LIKE '%' || #{searchWord} || '%'
		</if>
		<if test=" searchType == 'name' ">
			AND mem_name = #{searchWord}
		</if>
	</if>
		
  	ORDER BY reg_date DESC
  	
  	<include refid="CommonMapper.pageFooter"></include>
  	</select>
  	
  	<select id="selectMember" resultType="Member" parameterType="map">
  	
  	SELECT
  		mem_id,
		mem_name,
		mem_email,
		mem_point_cash,
		mem_point,
		mem_ticket,
		mem_del_yn,
		reg_user,
		reg_date,
		upd_user,
		upd_date,
		ticket_date,
		mem_re_cash,
		mem_pwd,
		(mem_point + mem_point_cash) as mem_total_point 
	FROM
		bm_member
	WHERE 1=1
	<if test=" searchWord != null and searchWord != '' ">
		<if test=" searchType == 'id' ">
			AND mem_id = #{searchWord}
		</if>
		<if test=" searchType == 'email' ">
			AND mem_email = #{searchWord}
		</if>
		<if test=" searchType == 'name' ">
			AND mem_name = #{searchWord}
		</if>
	</if>
		
  	  	
  	</select>
  	
  	<insert id="insertMember" parameterType="Member">
  	INSERT INTO bm_member (
  		  mem_id
		, mem_name
		, mem_email
		, mem_point_cash
		, mem_point
		, mem_del_yn
		, reg_user
		, reg_date
		, upd_user
		, upd_date
		, mem_pwd
		, mem_re_cash
  	) VALUES (
  		 #{mem_id}
		,#{mem_name}
		,#{mem_email}
		,0
		,1000
		,'N'
		,#{mem_id}
		,SYSDATE
		,#{mem_id}
		,SYSDATE
		,#{mem_pwd}
		,0
  	)
  	
  	
  	</insert>
  	
  	<update id="updateMemberInfo" parameterType="Member">
  		
  	UPDATE bm_member SET
		  upd_user         =  #{mem_id}
		, upd_date         =  SYSDATE
		, mem_pwd          =  #{mem_pwd}
	WHERE mem_id = #{mem_id}
  	
  	</update>
  	
  	<update id="updateMemberPoint" parameterType="Member">
  		
  	UPDATE bm_member SET
		  mem_point_cash   =  #{mem_point_cash}
		, mem_point        =  #{mem_point}
		, mem_ticket       =  #{mem_ticket}
		, upd_user         =  #{mem_id}
		, upd_date         =  SYSDATE
		, ticket_date      =  #{ticket_date}
		, mem_re_cash      =  #{mem_re_cash}
	WHERE mem_id = #{mem_id}
  	
  	</update>
  	
  	<update id="deleteMember" parameterType="map">
  		
  	UPDATE bm_member SET
		mem_del_yn = 'Y',
		upd_user = #{upd_user},
	  	upd_date = SYSDATE
	WHERE mem_id = #{mem_id}
  	
  	</update>
  
  </mapper>